<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
                <a href="/">Home</a>
                <a href="/newtask">Add new task</a>
                <a href="/listtasks">List all tasks</a>
                <a href="/newdeveloper">Add new developer</a>
                <a href="/deletetask">Delete task by ID</a>
                <a href="/deleteall">Delete all completed tasks</a>
                <a href="/updatetask">Update status</a>
        </h1>

        <table>
            <tr>
                <td>Developer ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Level</td>
                <td>State</td>
                <td>Suburb</td>
                <td>Street</td>
                <td>Unit</td>
            </tr>
            <% for (var i = 0; i < developers.length; i++) { %>
                <tr>
                    <td>
                        <%= developers[i]._id %>
                    </td>
                    <td>
                        <%= developers[i].name.firstName %>
                    </td>
                    <td>
                        <%= developers[i].name.lastName %>
                    </td>
                    <td>
                        <%= developers[i].level %>
                    </td>
                    <td>
                        <%= developers[i].address.state %>
                    </td>
                    <td>
                        <%= developers[i].address.suburb %>
                    </td>
                    <td>
                        <%= developers[i].address.street %>
                    </td>  
                    <td>
                        <%= developers[i].address.unit %>
                    </td>  
                </tr>
            <% } %>
        </table>
        
    </body>
</html>