<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
                <a href="/">Home</a>
                <a href="/listtasks">List all tasks</a>
                <a href="/newdeveloper">Add new developer</a>
                <a href="/listdevelopers">List all developers</a>
                <a href="/deletetask">Delete task by ID</a>
                <a href="/deleteall">Delete all completed tasks</a>
                <a href="/updatetask">Update status</a>
        </h1>

        <h3>
            <form action="/addtask" method="POST">
                Task Name<input type="text" name="name" /><br>
                Assign To<input type="text" name="assignedTo" /><br>
                Due Date<input type="date" name="due" /><br>
                Status</h3>
                <input type="radio" name="status" value="InProgress" />In Progress<br>
                <input type="radio" name="status" value="Complete"/>Complete<br>
                <h3>Task Desc<input type="text" name="desc" /><br>
                <button>Submit</button>
            </form>
        </h3>
    </body>
</html>