<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
                <a href="/">Home</a>
                <a href="/newtask">Add new task</a>
                <a href="/newdeveloper">Add new developer</a>
                <a href="/listdevelopers">List all developers</a>
                <a href="/deletetask">Delete task by ID</a>
                <a href="/deleteall">Delete all completed tasks</a>
                <a href="/updatetask">Update status</a>
        </h1>

        <table>
            <tr>
                <td>Task ID</td>
                <td>Name</td>
                <td>Assigned To</td>
                <td>Due Date</td>
                <td>Status</td>
                <td>Description</td>
            </tr>
            <% for (var i = 0; i < tasks.length; i++) { %>
                <tr>
                    <td>
                        <%= tasks[i]._id %>
                    </td>
                    <td>
                        <%= tasks[i].name %>
                    </td>
                    <td>
                        <%= tasks[i].assignedTo %>
                    </td>
                    <td>
                        <%= tasks[i].due %>
                    </td>
                    <td>
                        <%= tasks[i].status %>
                    </td>
                    <td>
                        <%= tasks[i].desc %>
                    </td>  
                </tr>
            <% } %>
        </table>
        
    </body>
</html>